<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>

        <div class="form-container">
            <h1>Cadastro</h1>
            <form action="/cadastro/create" method="POST" class="form">

                <input type="email" name="email" class="input" placeholder="Digite seu email">
                <input type="password" name="senha" class="input" placeholder="Digite sua senha">

                <% if(errors.length> 0) { %>
                    <p class="invalid">
                        <%= errors[0] %>
                    </p>
                    <a class="link" href="/cadastro/index">Tentar novamente.</a>
                    <% } else if(success) { %>
                        <p class="success">
                            <%= success %>
                        </p>
                        <div class="link-container"><a class="link" href="/login">Realizar o login.</a></div>
                        <% } %>
                            <button class="btn">Cadastrar</button>
            </form>
        </div>

        <%- include('partials/footer.ejs') %>