<%- include ('partials/header.ejs') %>

<%- include ('partials/navbar.ejs') %>
    <div class="form-container">
                <h1>Edição de tarefa</h1>
 
                <form action="/tarefas/update" method="POST" class="form">
                    <input class="input" type="text" name="title" value="<%= tarefa.title %>"><br>
                    <input type="text" class="input" name="body" value="<%= tarefa.body %>"><br>
                    <input type="hidden" name="id" value="<%= tarefa.id %>">
                    <button class="btn">Atualizar</button>
                </form>
    </div>
<%- include ('partials/footer.ejs') %>