<%- include('partials/header.ejs'); %>

<%- include('partials/homenavbar.ejs'); %> 

<body>
    <section class="container">
        <% tarefas.forEach(tarefa => { %>
        <div class="tasks-container">
                <div class="tasks">
                    <h5><%= tarefa.title %></h5>
                    <p><%= tarefa.body %></p>
                    <p class="dateFormat"><%= tarefa.task_date %></p>
                    <a class="btn btn-edit" href="/edit/<%= tarefa.id %>" >Editar</a>
                         <form action="/delete" method="POST" style="display: inline;">
                             <input type="hidden" name="id" value="<%= tarefa.id %>">
                             <button class="btn btn-delete">Deletar</button>
                         </form>
                         <form action="/complete" method="POST" style="display: inline;">
                            <input type="hidden" name="id" value="<%= tarefa.id %>">
                             <button class="btn btn-complete">Realizada</button>
                        </form>
                </div>
            </div>
            <%  }) %>
    </section>


<%- include('partials/footer.ejs'); %>